@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px){
    .w-full-80 {
        width: 100% !important;
    }
    .w-full-65 {
        width: 100% !important;
    }
    .w-full-45 {
        width: 100% !important;
    }
    .w-full-30 {
        width: 100% !important;
    }
    .w-full-20 {
        width: 100% !important;
    }
}
@media (min-width: 640px){
    .w-full-80 {
        width: 80% !important;
    }
    .w-full-65 {
        width: 65% !important;
    }
    .w-full-45 {
        width: 45% !important;
    }
    .w-full-30 {
        width: 30% !important;
    }
    .w-full-20 {
        width: 20% !important;
    }
}
.z-50-imp{
    z-index: 50!important;
}
.w50{
    width: 50%;
}
.w60{
    width: 60%;
}

.min-h-100-vh{
    min-height: 100vh
}
.min-h-80-vh{
    min-height: 80vh
}
.min-h-10-vh{
    min-height: 10vh
}

.min-h-15-vh{
    min-height: 15vh
}
