@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px){

    .w-full-45 {
        width: 100% !important;
    }
}
@media (min-width: 640px){
    .w-full-80 {
        width: 80% !important;
    }
    .w-full-65 {
        width: 65% !important;
    }
    .w-full-45 {
        width: 45% !important;
    }
}
.z-50-imp{
    z-index: 50!important;
}
.w50{
    width: 50%;
}


